
<!DOCTYPE html>
<html>
    <body>
        <h1>!Gracias por confirmar tu asistencia!</h1>


        <p>Recuerda que puedes preguntarnos cualquier duda a través de formulario de contacto.</p>
        <p>Aquí tienes los <b>detalles de tu confirmación</b>:</p>

        <ul>
            <li><b>Nombre y Apellidos:</b> {{ name }}</li>
            <li><b>Email:</b> {{ email }}</li>
            <li><b>Teléfono:</b> {{ telefono }}</li>
            <li><b>Menú vegetariano/vegano:</b>{% if veg == 1 %} No{% else %}  Si{% endif %}</li>
            <li><b>Intolerancias:</b>{% if intolerancias == 1 %} No{% else %} Si{% endif %}</li>
        </ul>

        {% if intolerancias == 2 %}
            <p>!Tan pronto como configuremos el menú nos pondremos en contacto para que nos indiques tus intolerancias!</p>
        {% endif %}

        <p>!Un saludo y nos vemos en el GRAN DIA!</p>
        
    </body>
</html>